<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Inventory</h5>
          <p>
            <strong>ID</strong>: {{Inventory.id}}</p>
          <p>
          <p>
            <strong>Category</strong>: {{Inventory.category}}</p>
          <p>
            <strong>Description:</strong> {{Inventory.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
